{{!< body-footer}}

<script>
    $(document).ready(function(){
        
    });

    function navbarToggle(){
        var navbarWasOpen=$('#open-navbar-menu-content').attr('aria-expanded');
        if(navbarWasOpen=='true'){
            console.log("navbar will close");
            $('#index-header-block').animate({
                height:"700px"
            },400);
        }else{
            console.log("navbar will open");
            $('#index-header-block').animate({
                height:"900px"
            },400);
        }
    }
</script>

<div id="index-header-block" class="header-gradient">
    <div class="bottom-right-slant"></div>
    <div role="navigation" class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"
                onclick="navbarToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar header-font"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand header-font">
					<img class="inline" src="images/logo.svg"/>
					<div class="inline logo-text">{{__ "title"}}</div>
				</a>
            </div>
            <div id="open-navbar-menu-content" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right small-margin-top">
					{{# each navLinks}}
                        <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                            <a class="navbar-font" href="{{ href }}">{{ label }}</a>
                        </li>
					{{/each}}
					{{#if user}}
                        <li><a class="navbar-font" href="/keystone/signout">{{__ "signOut"}}</a></li>
					{{else}}
                        <li><a class="navbar-font" href="/keystone/signin">{{__ "signIn"}}</a></li>
					{{/if}}
                </ul>
            </div>
        </div>
    </div>
	<div class="text-center">
		<h2 id="header-slogan" >{{__ "headerSlogan"}}</h2>
		<img id="header-preview" src="http://res.cloudinary.com/madebynikhil/image/upload/v1473352764/fine-preview_x5dsxh.gif">
	</div>
</div>

<!--Scan Files and folder-->
<section>
	<div class="container">
		<div class="row">
			<h3 class="col-sm-12 col-md-offset-2 col-md-6 feature-heading">{{__ "scanTitle"}}</h3>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-offset-2 col-md-6">
                <img class="feature-preview" src="http://res.cloudinary.com/madebynikhil/image/upload/v1474842369/fine-scan_gnwt7w.png">
			</div>
			<div class="col-sm-12 col-md-3 feature-description">
                {{__ "scanDescription"}}
			</div>
		</div>
	</div>
</section>

<!--Check Your Usage-->
<section id="middle-feature-section">
	<div id="social-block" class="visible-lg-block">
		<a href="#">
            <img class="social-logo" src="images/facebook-logo.svg"/>
			<!--<img class="social-logo" src="images/facebook-official-logo.png"/>-->
            {{!>facebook-logo width=64 height=64}}
		</a>
        <a href="#">
            <img class="social-logo" src="images/twitter-logo.svg"/>
            <!--<img class="social-logo" src="images/twitter-official-logo.png"/>-->
            {{!>twitter-logo width=64 height=64}}
        </a>
	</div>
    <div class="container">
        <div class="row">
            <h3 class="col-sm-12 col-md-offset-5 col-md-6 feature-heading">{{__ "usageTitle"}}</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-push-5 col-md-push-5">
                <img class="feature-preview" src="http://res.cloudinary.com/madebynikhil/image/upload/v1474842369/fine-sunburst_cvvjdj.png">
            </div>
            <div class="col-sm-12 col-md-offset-2 col-md-3 col-md-pull-6 feature-description right-align-except-on-small">
                {{__ "usageDescription"}}
            </div>            
        </div>
    </div>
</section>

<!--Organize and Declutter-->
<section>
    <div class="container">
        <div class="row">
            <h3 class="col-sm-12 col-md-offset-2 col-md-6 feature-heading">{{__ "organizeTitle"}}</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-6">
                <img class="feature-preview" src="http://res.cloudinary.com/madebynikhil/image/upload/v1474842369/fine-organise_lhwmzq.png">
            </div>
            <div class="col-sm-12 col-md-3 feature-description">
                {{__ "organizeDescription"}}
            </div>
        </div>
    </div>
</section>

<!--About us-->
<section id="about">
	<h1 id="about-us-heading" class="hidden-sm hidden-xs">{{__ "aboutUs"}}</h1>
	<div id="founder" class="container">
        <h2 class="visible-sm visible-xs">About Us</h2>
		<div id="founder-profile">
			<img class="float-left medium-margin-right" src="images/mugshot-soon.svg"/>
			<div class="inline">Ut zril deserunt eam, dolore verterem in sit. Vel no possit splendide consequuntur.</div>
		</div>
		<div>Id eam paulo gubergren. Ei commodo phaedrum vis, veri propriae constituto at qui. Ius eu hinc eros doming, est ei vivendum singulis incorrupte, maluisset accusamus te qui.</div>
	</div>
</section>

<!--Download-->
<section>
	<div class="container text-center">
		<div class="row">
            <h4>
                {{__ "developmentDescription"}} <a href="https://github.com/nikhilnxvverma1/fine"><strong>{{__ "here"}}</strong></a>
            <h4>	
		</div>
		
		<div id="free-trial-divider" class="row text-center">
			<div class="col-xs-offset-1 col-xs-3 col-md-offset-1 col-md-3 right-intense horizontal-line"></div>			
			<div class="col-xs-4 no-padding-left-right">{{__ "separatorTextBeforeDownload"}}</div>
			<div class="col-xs-4 col-md-3 left-intense horizontal-line "></div>
		</div>

        <div class="text-center">
            <button class="action-button download-button" data-toggle="modal" data-target="#myModal">
                {{__ "downloadMac"}}
            </button>
        </div>

        <div class="text-center">
            <button  class="action-button download-button" data-toggle="modal" data-target="#myModal">
                {{__ "downloadWindows"}}
            </button>
        </div>

        <div class="text-center">
            <button  class="action-button download-button" data-toggle="modal" data-target="#myModal">
                {{__ "downloadLinux"}}
            </button>
        </div>
    </div>
</section>

<!--Coming Soon Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{__ "comingSoonModalTitle"}}</h4>
      </div>
      <div class="modal-body">
        {{__ "comingSoonModalDescription"}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>