<footer>
	<ul>
		<li><a href="/">{{__ "home"}}</a></li>
		<li><a href="/blog">{{__ "blog"}}</a></li>
		<li><a href="/support">{{__ "support"}}</a></li>
		<li><a href="/#about">{{__ "aboutUs"}}</a></li>
	</ul>
	
	<div id="copyright">{{__ "footerMicroText"}}</div>
</footer>
